<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sysactivity" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ToSystemActivity</name>
    <js-module name="toSystemActivity" src="www/toSystemActivity.js">
        <clobbers target="toSystemActivity" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToSystemActivity">
                <param name="android-package" value="com.hmj.nx6313.tosystemactivity.SystemActivity" />
            </feature>
        </config-file>

        <source-file src="src/android/SystemActivity.java" target-dir="src/com/hmj/nx6313/tosystemactivity"/>
    </platform>
</plugin>
